<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise12.Properties.Settings.D__BDATOSNORTHWND_NORTHWND_MDFConnectionString"
            connectionString="Data Source=SKIPHA\SQLEXPRESS;Initial Catalog=D:\BDATOSNORTHWND\NORTHWND.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Exercise12.Properties.Settings.DBCompanyConnectionString"
            connectionString="Data Source=SKIPHA\SQLEXPRESS;Initial Catalog=DBCompany;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>